*{
  box-sizing: border-box;
}
body {background-color:#f9b43b ;}
#menu-top :hover .submenu {
  float: left;
  width: 100%;
  display: block;
}
#menu-top :after{
  content: "";
  display: table;
  clear: both;
}
.menu-top-items {
 border: black thin solid;
  float: left;
  width: 25%;
  text-align: center;
  font-style: serif;
}
.submenu {
  display: none;
  text-align: left;
  position: absolute;
  float: left;
}
.button{
  display: table;
   padding: 15px 25px;
   font-size: 24px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #4CAF50;
   border: none;
   border-radius: 15px;
   box-shadow: 0 9px #999;
 }

 .button:hover {background-color: #3e8e41}

 .button:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 }

#left-side {
  border: black thin solid;
  width: 33.33333%;
  float: left;
}

#right-side {
  border: black thin solid;
  width: 66.66666%;
  float: left;
}

.card {
  width: 45%;
  border: thin solid #dadada;
  float: left;
  margin: 2.5%;
}

.card img {
  width: 90%;
  text-align: center;
}

.card button {
  float: right;
  padding: 5%;
  margin: 5%;

}
